:root {
  /* colors */
  --color-white: #fff;
  --color-light-gray: #fbfaf5;
  --color-text-black: #151515;
  --color-accent: #f55313;
  --color-text-link-hover: #31b8b7;
}

* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.wrap {
  width: 100%;
}

.swiper, .swiper-slide {
  z-index: 1;
}

.visible-mobile {
  display: none;
}

/* chatbot */
.display-none {
  display: none;
}
.chatbot-wrap {
  position: fixed;
  right: 10%;
  bottom: 10%;
  width: 450px;
  height: 500px;
  z-index: 5;
}
.chatbot-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 26.9rem;
  height: 21.95rem;
  border-radius: 8px;
  background-color: #F7F7F8;
}
.chatbot-header {
  background-color: #FFFFFFE6;
  padding: 20px 10px;
}
.chatbot-header-wrap {
  display: flex;
  gap: 1rem;
}
.chatbot-header-text {
  display: flex;
  flex-direction: column;
}
.chatbot-header-title {
  font-size: 1rem;
  line-height: 1.5rem;
}
.chatbot-header-desc {
  font-size: 0.875rem;
  line-height: 1rem;
  color: #00000066;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chatbot-chat-box {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  height: 100%;
  padding: 1.125rem 1rem;
}
.chatbot-instance {
  display: flex;
  gap: 14px;
  align-items: center;
}
.chatbot-profile {
  width: 36px;
  height: 36px;
  background: url(../img/logo.png) no-repeat center / cover;
}
.chatbot-message {
  padding: 4px 8px;
  border-radius: 30px 30px 30px 0;
  background-color: #ccc;
}
.chatbot-input-container {
  margin-top: 20px;
}
.chatbot-input-btn-wrap {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 6px;
}
.chatbot-input-btn-wrap button {
  max-width: 280px;
  padding: 9px 13px;
  font-size: 1rem;
  border-radius: 16px;
  cursor: pointer;
  color: #000000D9;
  background-color: #fff;
  border: 1px solid #ccc;
}
.chatbot-toggle-btn {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 68px;
  right: 3.125rem;
  bottom: 3.125rem;
  z-index: 5;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  animation: flow-up-down 1s ease-in infinite alternate;
  color: #fff;
  background-color: #f55313;
  box-shadow: 0 0 4px #f55313;
}
.chatbot-toggle-btn-text {
  font-size: 12px;
}
.chatbot-toggle-btn.active {
  display: flex;
}
.chatbot-toggle-btn-icon {
  width: 30px;
  height: 30px;
}

.chatbot-toggle-btn:hover {
  color: #fff;
  background-color: #e02a1d;
  animation: none;
}

@keyframes flow-up-down {
  0% {
    transform: translateY(16%);
  }
  100% {
    transform: translateY(0);
  }
}

/* chatbot 500px */
@media(max-width: 500px)  {
  .chatbot-toggle-btn {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 58px;
    right: 1.875rem;
    bottom: 1.875rem;
    z-index: 5;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    animation: none;
    color: #fff;
    background-color: #f55313;
    box-shadow: 0 0 4px #f55313;
  }
  .chatbot-toggle-btn-text {
    font-size: 10px;
  }
}

/* navigation */
.navigation {
  position: fixed;
  width: 100%;
  z-index: 9999;
}
.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.125rem;
  background-color: rgba(76,33,8,.85);
  padding: 0 1.875rem;
}
.nav-bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  font-size: 1.125rem;
}

.nav-bar a {
  text-decoration: none;
  color: var(--color-white);
}
.nav-bar a:hover {
  color: var(--color-accent);
}
.menu-active a {
  color: var(--color-accent);
}

.mo-nav {
  display: none;
}

@media(max-width: 500px) {
  nav,
  .nav-bar,
  .mo-nav-box,
  .mo-nav ul {
    display: none;
  }
  .mo-nav {
    display: block;
  }
  .mo-nav-box.is-open {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100dvh;
    padding: 80px 20px;
    background-color: #f7f4ef;
    color: var(--color-text-black);
    z-index: 10;
    animation: slide-in-left 0.4s ease-in;
  }
  .mo-nav-box h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.9rem;
    font-size: 20px;
    cursor: pointer;
  }
  .mo-nav-box h2:hover {
    color: var(--color-white);
    background-color: var(--color-accent);
  }
  .mo-nav-box h2::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 9px;
    background: url(../img/menu_arrow.svg) no-repeat center / 100%;
    /* filter: brightness(0) invert(1); */
    transform: rotateX(180deg);
  }
  .mo-nav-box:has(ul.is-open) h2::after {
    transform: rotateX(0);
  }
  .mo-nav ul.is-open {
    display: flex;
    flex-direction: column;
  }
  .mo-nav ul.is-open a {
    display: block;
    color: var(--color-text-black);
    text-decoration: none;
    padding: 12px 0;
  }
  .mo-nav-link:hover, .mo-nav-box > ul > li > A:hover {
    color: #fff;
    background-color: var(--color-accent);
  }
  .menu-btn {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 15px;
    right: 15px;
    gap: 4px;
    width: 44px;
    height: 44px;
    z-index: 10;
    background-color: var(--color-accent);
    border: none;
    border-radius: 4px;
  }
  .menu-btn span {
    display: block;
    width: 22px;
    height: 2px;
    background-color: var(--color-white);
    border-radius: 4px;

    transform-origin: center;
    /* 변형(transform)의 기준점(축)을 어디로 할 거냐. */
    transition: transform 0.35s;
  }

  .menu-btn.is-open span:nth-child(1) {
      transform: translateY(6px) rotate(45deg);
  }
  .menu-btn.is-open span:nth-child(2) {
    opacity: 0;
    transform: scaleX(0);
  }
  .menu-btn.is-open span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }
}

@keyframes slide-in-left {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}

/* hero-sec */
.hero-sec {
  position: relative;
  width: 100%;
  height: 100vh;
}
.hero-sec-img-list-item {
  display: none;
}
.hero-sec-img-list-item img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.hero-sec-img-list-item.active {
  display: block;
  animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

.header {
  padding-top: 3rem;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  max-width: 100rem;
  padding-inline: 1.875rem;
}
.header-side:last-child {
  justify-content: end;
}
.header-logo > a > img {
  width: 9.3125rem;
}
.header-tel {
  font-size: 1.875rem;
  font-weight: 700;
  white-space: nowrap;
  color: #fff;
}
.hero-sec-btn-list-wrap {
  position: absolute;
  bottom: 1.875rem;
  padding-left: 2.125rem;

}
.hero-sec-btn-list {
  display: flex;
  gap: 1.375rem;
}
.hero-sec-btn {
  display: block;
  border: 0;
  font-weight: 700;
  font-size: 1.875rem;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.hero-sec-btn:hover {
  color: var(--color-white);
}
.hero-sec-btn.active {
  color: var(--color-white);
}

/* hero-sec 500px */
@media(max-width: 500px) {
  .visible-mobile {
    display: inline;
  }
  .header-logo > a > img {
    width: 7.4375rem;
  }
  .hero-sec-btn-list {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
  }
}

/* cost-sec */
.cost-sec {
  width: 100%;
  min-height: 62.5rem;
}
.cost-sec-wrap {
  display: flex;
  width: 100%;
  height: 100%;
}

/* cost-sec-left */
.cost-sec-left {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  height: 62.5rem;
  padding-top: 6.25rem;
  background-color: #edc19d;
  overflow: hidden;
}
.cost-sec-left-desc-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 3.375rem;
}
.cost-sec-left-title{
  margin-bottom: 1.625rem;
}
.cost-sec-left-title .desc-60 {
  font-size: 3.75rem;
  letter-spacing: -0.04em;
  line-height: 1.16;
}
.cost-sec-left-title .desc-70 {
  font-size: 4.375rem;
  letter-spacing: -0.04em;
  line-height: 1.14;
}

.cost-sec-left-title .desc-70 .primary {
  font-weight: 700;
  color: #f55313;
}
.cost-sec-left-title .desc-70 .secondary {
  font-weight: 700;
}
.cost-sec-left-desc {
  font-size: 1.25rem;
}
.cost-sec-left-desc em {
  font-weight: 700;
}
.cost-sec-left-chat-box {
  width: 20.625rem;
  height: 16.625rem;
  padding-top: 2.125rem;
  margin: 0 auto;
  background: url(../img/change-chat-box.webp) no-repeat center / cover;
  text-align: center;
  z-index: 5;
}
.cost-sec-left-chat-box-title {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 1.44;
}
.cost-sec-left-chat-box-answer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  margin-bottom: 0.75rem;
  font-size: 1rem;
  font-weight: 700;
  color: #6d6d6d;
  letter-spacing: -0.04em;
  line-height: 1.5;
}
.cost-sec-left-chat-box-answer::before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #2a9a30;
}
.cost-sec-chat-box-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.375rem;
  width: 6.875rem;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #ffc7c1;
  cursor: pointer;
}
.cost-sec-chat-box-circle:hover {
  transform: scale(1.05);
}
.cost-sec-chat-box-desc {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 1.5;
}
.cost-sec-left-food-img {
  position: absolute;
  top: 31.875rem;
  left: calc(50% - 32.5rem);
  z-index: 3;
}
.cost-sec-left-food-img img {
  width: 63.4375rem;
}

/* cost-sec-right */
.cost-sec-right {
  width: 50%;
  height: 62.5rem;
  padding-top: 6.25rem;
  background-color: #fff;
  overflow: hidden;
}
.cost-sec-right-desc-box {
  margin-bottom: 3.125rem;
  text-align: center;
}
.cost-sec-right-desc-box-label {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 1.56;
  margin-bottom: 0.625rem;
  color: #f55313;
}
.cost-sec-right-desc-box-value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 70px;
  padding: 0 1.185rem;
  border-radius: 4.375rem;
  margin: 0 auto;
  font-size: 2.8125rem;
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 1.25;
  color: #fff;
  background-color: #f55313;
}

/* cost-sec-swiper */
.cost-sec-swiper {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0;
}
/* .cost-sec-swiper > .swiper-wrapper > .swiper-slide-prev,
.cost-sec-swiper > .swiper-wrapper > .swiper-slide-next {
  transform: translateZ(10%);
} */
.swiper-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  transition-duration: 0ms;
  transition-delay: 0ms;
}
.swiper-slide {
  position: relative;
  display: flex;
  justify-content: center;
  width: 30.1875rem;
  height: 100%;
  /* margin-right: 30px; */
}
.slide-text-box {
  position: absolute;
  top: 72.2786647315%;
  left: 22.1532091097%;
}

/* cost-sec 500px */
@media(max-width: 500px) {
  /* cost-sec */
  .cost-sec-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  /* cost-sec-left */
  .cost-sec-left {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 62.5rem;
    padding-top: 6.25rem;
    background-color: #edc19d;
    overflow: hidden;
  }
  .cost-sec-left-title > .desc-60 {
    font-size: 3rem;
  }
  .cost-sec-left-title .desc-70 {
    font-size: 3.625rem;
  }
  .cost-sec-left-desc {
    font-size: 1.125rem;
  }
  
  /* cost-sec-right */
  .cost-sec-right {
    width: 100%;
    height: 46.875rem;
    padding-top: 6.25rem;
    background-color: #fff;
    overflow: hidden;
  }
  /* cost-sec-swiper */
  .swiper-slide > img {
    width: 18.75rem;
    height: 100%;
  }
  .slide-text-box > img{
    width: 22.5rem;
  }
}

/* revenue-sec */
.revenue-sec {
  padding: 6.25rem 0;
  background-color: #f7f4ef;
}
.revenue-head {
  text-align: center;
  margin-bottom: 5.3125rem;
}
.revenue-title {
  font-size: 4.375rem;
  letter-spacing: -0.04em;
  line-height: 1.14;
  margin-bottom: 1.625rem;
}
.revenue-title em {
  font-weight: 700;
  color: #f55313;
}
.revenue-desc {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -0.04;
  line-height: 1.5;
}
.revenue-list {
  display: flex;
  flex-direction: column;
  gap: 8.125rem;
}
.revenue-list.inner {
  max-width: 75rem;
  padding: 0 1.875rem;
  margin: 0 auto;
}
.revenue-list .list-item {
  position: relative;
  display: flex;
}
.revenue-list .list-area01 {
  position: relative;
  width: 48.125rem;
  height: 26.25rem;
  border-radius: 20px 0 0 20px;
  overflow: hidden;
}
.revenue-list .list-figure {
  position: absolute;
  inset: 0;
  overflow: hidden;
}
.revenue-list .list-figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.revenue-list .list-area02 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 3.125rem 0 3.75rem 3.25rem;
  border-radius: 0 20px 20px 0;
  background-color: #fff;
}
.list-info {
  color: #e02a1d;
}
.revenue-sales-box .box-label {
  font-size: 1.25rem;
  letter-spacing: -0.04em;
  line-height: 1.5;
}
.box-after .box-label {
  margin-bottom: 0.75rem;
}
.box-after-value {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 1.25;
}
.box-after-value > .box-highlight {
  position: relative;
  z-index: 0;
  color: #fff;
}
.box-after-value > .box-highlight::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: -0.125rem -1.25rem;
  background-color: #e02a1d;
}
.box-before-value {
  font-size: 2.1875rem;
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 1.28;
}
.revenue-list .list-info-title {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: -0.04em;
  margin-bottom: 0.125rem;
}

.revenue-badge {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: url(../img/chance-badge.webp) no-repeat center / cover;
  width: 11.8125rem;
  height: 11.75rem;
  top: -4.875rem;
  right: -2.5625rem;
  justify-content: center;
  text-align: center;
}
.badge-value {
  font-size: 3.75rem;
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 1.16;
}
.badge-text {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 1.41;
}

/* revenue-sec 500px */
@media(max-width: 500px) {
  .revenue-title {
    font-size: 3.625rem;
  }
  .revenue-list .list-item {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .revenue-list .list-area01 {
    position: relative;
    width: 26.55rem;
    height: 26.25rem;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
  }
  .revenue-list .list-area02 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 3.125rem 0 3.75rem 3.25rem;
    border-radius: 0 0 20px 20px;
    background-color: #fff;
  }
  .revenue-badge {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: url(../img/chance-badge.webp) no-repeat center / cover;
    width: 9.3125rem;
    height: 9.25rem;
    top: -4.875rem;
    right: -1rem;
    justify-content: center;
    text-align: center;
  }
  .badge-value {
    font-size: 2.625rem;
  }
}

/* flow-text-sec */
.flow-text-sec {
  position: relative;
  padding: 13.75rem 0 7.5rem;
}
.flow-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.flow-logo img {
  width: 27.4375rem;
}
.flow-text-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5.3125rem;
  width: 100%;
  margin-bottom: 5.875rem;
  overflow: hidden;
  text-align: center;
  opacity: .25;
}
.text-track {
  display: flex;
  width: max-content;
}
.track01 {
  animation: flow-right 23s linear infinite;
}
.track02 {
  animation: flow-left 23s linear infinite;
}
.flow-item {
  display: flex;
}
.flow-text {
  display: flex;
  flex-direction: column;
  margin-right: 6.25rem;
  white-space: nowrap;
}
.sub-text {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 1.56;
}
.main-text {
  font-size: 3.75rem;
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 1.16;
}
.main-text::before {
  content: "# ";
  color: #f55313;
}

@keyframes flow-right {
  from { transform: translateX(-50%); }
  to { transform: translateX(0); }
}
@keyframes flow-left {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

/* flow-text-sec 500px */
@media(max-width: 500px) {
  .flow-logo img {
    width: 18.75rem;
  }
}

/* food-card-menu */
.food-card-menu {
  display: flex;
  justify-content: center;
}
.food-card {
  flex-shrink: 0;
  width: calc(35.625rem * 3);
  /* min-width: 0; */
  overflow: hidden;
}
.food-card .swiper {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.food-card > .swiper-wrapper > .swiper-slide {
  display: flex;
  flex-direction: column;
  width: 570px;
  transform-origin: center 300%;
}
.food-card .swiper-3d {
  perspective: 1200px;
}
.food-card .swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}
.food-card .swiper-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}
.card-figure img {
  width: 100%;
  aspect-ratio: 570 / 328;
  border-radius: 2.5rem 2.5rem 0 0;
  vertical-align: middle;
}
.card-content {
  padding: 3.75rem;
  border: 1px solid #ffd499;
  border-radius: 0 0 2.5rem 2.5rem;
  text-align: center;
}
.card-title {
  font-size: 2.1875rem;
  letter-spacing: -0.04em;
  line-height: 1.28;
  margin-bottom: 1.25rem;
}
.card-title em {
  font-weight: 700;
}
.card-desc {
  font-size: 1.25rem;
  letter-spacing: -0.04em;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}
.card-value-box {
  display: flex;
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
}

/* food-card-menu 500px */
@media(max-width: 500px) {
  .food-card {
    flex-shrink: 0;
    width: calc(21.875rem * 3);
    overflow: hidden;
  }
}

/* rolling-card-sec */
.rolling-card-sec {
  padding: 5.625rem 0;
}
.rolling-card-head {
  margin-bottom: 3.125rem;
  text-align: center;
}
.rolling-card-title {
  margin-bottom: 1.625rem;
  font-size: 4.375rem;
  letter-spacing: -0.04em;
  line-height: 1.14;
}
.rolling-card-title em {
  font-weight: 700;
}
.rolling-card-desc {
  font-size: 1.25rem;
  letter-spacing: -0.04em;
}
.rolling-card-desc em {
  font-weight: 700;
}
.rolling-card-flow {
  position: relative;
  overflow: hidden;
}
.rolling-card-flow .flow-items {
  display: inline-flex;
  animation: flow-left 40s linear infinite;
}
.rolling-card-flow .flow-items .flow-card-item {
  margin-right: 5rem;
}
.rolling-card-flow .flow-items .flow-card-item img {
  width: 20rem;
  aspect-ratio: 320 / 470;
  border-radius: 2.5rem;
  vertical-align: middle;
}
.rolling-card-flow .flow-items .flow-card-item:nth-child(2n) {
  margin-top: 3.125rem;
}

/* rolling-card-sec 500px */
@media(max-width: 500px) {
  .rolling-card-title {
  font-size: 2.625rem;
}
  .rolling-card-flow .flow-items .flow-card-item img {
    width: 15.625rem;
    aspect-ratio: 320 / 470;
    border-radius: 2.5rem;
    vertical-align: middle;
  }
}

/* inquiry-sec */
.inquiry-sec {
  padding: 6.875rem 1.875rem;
  background-color: #fbfaf5;
}
.inquiry-box {
  max-width: 106.25rem;
  padding: 6.25rem 0 7.5rem;
  margin: 0 auto;
  border-radius: 3.75rem;
  background-color: #f7f4ef;
}
.inquiry-head {
  margin-bottom: 2.5rem;
  text-align: center;
}
.inquiry-title {
  font-size: 4.375rem;
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 1.14;
}
.inquiry-inner {
  max-width: 75rem;
  padding: 0 1.875rem;
  margin: 0 auto;
  box-sizing: content-box;
}
.responsive-inner {
  position: relative;
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
}
.inquiry-policy-fieldset.policy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.125rem;
  padding: 1rem 3.125rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #191a1a;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 , 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  white-space: nowrap;
}
.inquiry-policy-icon {
  width: 24px;
  height: 24px;
  background: url(../img/check-circle-0.svg) no-repeat center / cover;
}
.inquiry-policy-input:checked + .inquiry-policy-label .inquiry-policy-icon {
  width: 24px;
  height: 24px;
  background: url(../img/check-circle-1.svg) no-repeat center / cover;
}

.inquiry-policy-label {
  display: flex;
  gap: 6px;
  /* gap: 0.625rem; */
  align-items: center;
}
.inquiry-policy-text {
  font-size: 1.125rem;
}
.inquiry-policy-text-link {
  pointer-events: none;
  text-decoration: none;
  color: #191a1a;
}
.inquiry-policy-link {
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  background-color: #ebebeb;
  color: #151515;
  border-radius: 10px;
  border: none;
}

/* .inquiry-items-fieldset {
  margin: 0 3.125rem;
} */
.inquiry-required {
  position: relative;
}
.inquiry-required::before {
  content: "";
  position: absolute;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  top: 0.3125rem;
  left: 0;
  background-color: #e02a1d;
}
.inquiry-required.inquiry-label::before {
  top: 1.375rem;
}
.inquiry-items-legend {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  margin-bottom: 2.25rem;
}
.inquiry-items {
  margin-bottom: 2.25rem;
}
.inquiry-items-title {
  font-size: 1.625rem;
}
.inquiry-items-note {
  font-size: 1rem;
  padding-left: 1.375rem;
}
.inquiry-item:first-child {
  margin-top: 0;
}
.inquiry-item {
  display: flex;
  margin-top: 0.625rem;
}
.inquiry-label {
  flex-shrink: 0;
  width: 12.5rem;
  padding-top: 1rem;
  padding-left: 1.375rem;
  font-size: 1.125rem;
  font-weight: 500;
}
.inquiry-input, .inquiry-textarea {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 10px;
}
.inquiry-input {
  width: 21.875rem;
  height: 3.125rem;
  padding: 0 0.625rem;
  font-size: 1rem;
}
#inquiry-input-tel::-webkit-outer-spin-button,
#inquiry-input-tel::-webkit-inner-spin-button {
  appearance: none;
}
.inquiry-textarea {
  flex-grow: 1;
  padding: 0.625rem;
}
.btn-inquiry-submit {
  display: block;
  margin: 0 auto;
  padding: 1rem 3.5rem;
  font-size: 1.25rem;
  border-radius: calc(infinity * 1px);
  border-color: transparent;
  background-color: #e02a1d;
  color: #ebebeb;
}

/* inquiry-sec 500px */
@media(max-width: 500px) {
  .inquiry-title {
    font-size: 3.25rem;
  }
  .inquiry-policy-fieldset.policy {
    flex-direction: column;
    gap: 0.75rem;
    padding: 14px 16px;
  }
  .inquiry-items-fieldset.input {
    margin: 0;
  }
  .inquiry-items-legend {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.625rem;
    margin-bottom: 2.25rem;
  }
  .inquiry-item {
    display: flex;
    flex-direction: column;
    margin-top: 0.625rem;
  }
  .inquiry-label {
    flex-shrink: 0;
    width: 12.5rem;
    padding-top: 1rem;
    padding-left: 1.375rem;
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 0.625rem;
  }
}

/* footer */
.footer {
  padding: 2rem 0 3rem;
  background-color: var(--color-light-gray);
}
.footer-inner {
  display: flex;
  justify-content: space-between;
  max-width: 100rem;
  padding: 0 1.875rem;
  margin: 0 auto;
  box-sizing: content-box;
}
.footer-info {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.25rem;
  font-size: 1rem;
  letter-spacing: -0.04em;
  line-height: 1.6;
  margin-bottom: 0.5rem;
}
.footer-copy {
  font-size: 0.875rem;
  letter-spacing: -0.04em;
  line-height: 1.44;
}

.footer-designed > a {
  text-decoration: none;
  color: var(--color-text-black);
}
.footer-designed > a:hover {
  color: var(--color-text-link-hover);
}
.footer-area02 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
}
.footer-sns-list {
  display: flex;
  justify-content: end;
  gap: 1.25rem;
}
.policy-items {
  display: flex;
  gap: 1.625rem;
  font-size: 0.875rem;
  letter-spacing: -0.04em;
  line-height: 1.44;
}
.policy-item:nth-child(1) {
  font-weight: 700;
}
.policy-item a {
  text-decoration: none;
  color: #000;
}

/* footer */
@media(max-width: 500px) {
  .footer-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100rem;
    padding: 0 1.875rem;
    margin: 0 auto;
    box-sizing: content-box;
  }
  .footer-area01 {
    margin-bottom: 30px;
  }
  .footer-sns-list {
    display: flex;
    justify-content: start;
    gap: 1.25rem;
    margin-bottom: 1rem;
  }
}